<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
    <input type="text" [(ngModel)]="search" (keyup)="filterDisplay($event)" placeholder="Search for notes or users"/>
    <!--<div *ngFor="let x of results">
        <div>Id: {{x.Id}}</div>
        <div>Latitude: {{x.Latitude}}</div>
        <div>Longitude: {{x.Longitude}}</div>
        <div>User: {{x.User}}</div>
        <div>Notes: {{x.Note}}</div>
    </div>
    <div *ngFor="let x of query">
        <div>Id: {{x.Id}}</div>
        <div>Latitude: {{x.Latitude}}</div>
        <div>Longitude: {{x.Longitude}}</div>
        <div>User: {{x.User}}</div>
        <div>Notes: {{x.Note}}</div>
    </div-->

    <sebm-google-map [latitude]="lat" [longitude]="lng">
        <div *ngFor="let x of query">
            <div>
                <sebm-google-map-marker [latitude]=x.Latitude [longitude]=x.Longitude [title]="note">
                    <sebm-google-map-info-window>
                        {{x.User}}: {{x.Note}} 
                    </sebm-google-map-info-window>
                </sebm-google-map-marker>
            </div>
        </div>
    </sebm-google-map>
</div>


