.sebm-google-map-container {
  height: 300px;
}

.search{
  text-align:center;
  position:center;
  margin: auto;
  width: 95%;
}
.alert {
  color:red;
  padding: 7px;
  font-size: .9em;
  margin-bottom: 20px;
  animation: 2s alertAnim forwards;
}

.input{
  width:250px;
}

@keyframes alertAnim{
    from {
        opacity:0;
        transform:translateY(-20px);
    }
    to {
        opacity:1;
        transform:translateY(0);
    }
}