.sebm-google-map-container {
  height: 300px;
}

.menu{
    float:left;
}

.search{
  margin: auto;
  margin-top: 20px;
  width: 250px;
}

.alert {
  color:red;
  font-size: .9em;
}

.user-input {
  width:250px;
  height:60px;
}

.input {
  margin:0px;
}

.submit {
  width:250px;
}


